[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pillow = "*"
tesserocr = "*"
jinja2 = "*"
aiofiles = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
