{% extends "main.html" %}
{% block title %}Image to text{% endblock %}
{% block extrameta %}
    <meta name="description" content="ImageToText provides you with a blazing simple way to copy text from a raster image. Have you ever faced a moment when someone shared a screenshot o even wor...">
    <meta property="og:title" content="ImageToText"/>
    <meta property="og:description" content="ImageToText provides you with a blazing simple way to copy text from a raster image. Have you ever faced a moment when someone shared a screenshot o even wor...">
    <meta property="og:url" content="https://imagetotext.app/about/"/>
    <meta property="og:type" content="imagetotext" />
    <meta property="og:image" content="https://s.hinty.io/imgorig/cAPm3HpU5fzZRtkeDxkBhi.jpeg?11"/>
    <link rel="canonical" href="https://imagetotext.app/about/">
    <style type="text/css"> 
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            margin-bottom: 1.75rem;
            margin-top: 0;
        }
        .title {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: black;
            font-weight: 400;
            text-align: left;
        }
        .container {
            margin: 4.125rem 0;
            padding: 0 1rem;
            word-break: break-word;
            font-weight: 400;
            color: #444444;
            font-size: 1rem;
            line-height: 200%;
            align-items: flex-start;
        }
        .about-title {
            font-size: 1.5rem;
            margin-top: 3.563rem;
            font-weight: 400;
        }
        .about-text {
            margin-top: 2.625rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        p {
            margin-bottom: 1.5rem;
        }
        img {
            width: 100%;
            height: auto;
            box-shadow: 1px 1px 9px #333;
        }
        .btn {
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
   <main id="app">
        <div class="container">
            <a href="/" class="title">
                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d45)">
                        <rect x="5" y="5" width="40" height="40" rx="2" fill="white"/>
                    <g filter="url(#filter1_d46)">
                        <path d="M12.3666 18.36C12.18 18.0667 12.0066 17.6667 11.8466 17.16C11.6866 16.6533 11.6066 16.12 11.6066 15.56C11.6066 14.52 11.8333 13.7733 12.2866 13.32C12.7666 12.8667 13.38 12.64 14.1266 12.64H31.5666C31.7533 12.9333 31.9266 13.3333 32.0866 13.84C32.2466 14.3467 32.3266 14.88 32.3266 15.44C32.3266 16.48 32.0866 17.2267 31.6066 17.68C31.1533 18.1333 30.5533 18.36 29.8066 18.36H25.3666V36.84C25.0733 36.92 24.6066 37 23.9666 37.08C23.3533 37.16 22.74 37.2 22.1266 37.2C21.5133 37.2 20.9666 37.1467 20.4866 37.04C20.0333 36.96 19.6466 36.8 19.3266 36.56C19.0066 36.32 18.7666 35.9866 18.6066 35.56C18.4466 35.1333 18.3666 34.5733 18.3666 33.88V18.36H12.3666Z" fill="black"/>
                    </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M37 41L37 9.00003L39 9.00003L39 41L37 41Z" fill="black"/>
                    </g>
                    <defs>
                        <filter id="filter0_d45" x="0" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dx="2" dy="2"/>
                            <feGaussianBlur stdDeviation="3.5"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                            <filter id="filter1_d46" x="9.60665" y="10.64" width="24.72" height="28.56" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset/>
                            <feGaussianBlur stdDeviation="1"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                    </defs>
                </svg>
                Image to text app 
            </a>
            <h1 class="about-title">About image to text</h1>
            <article class="about-text">
                <p>ImageToText provides you with a blazing simple way to copy text from a raster image.</p>
                <p>Have you ever faced a moment when someone shared a screenshot o even worsen photo instead of text so you had to re-type it in a web form?</p>
                <p>
                    <picture>
                        <img alt="Imagetotext helps make you calm" data-original="https://s.hinty.io/imgorig/UUnyEdGKmMZmeqfPuivxKM.jpeg" src="https://s.hinty.io/UUnyEdGKmMZmeqfPuivxKM.jpg" onload="this.classList.remove('preload');this.style['background-image']=''" class="" style="max-height: 66.62vw; cursor: zoom-in;" width="800" height="533">
                    </picture>
                </p>
                <p>If you will store bookmark to this site you never will face this issue again. What you will be able to do is just open the image super-quickly and then copy the needed text from the needed area in one click:</p><p>
                    <picture>
                        <img alt="imagetotext on image example" data-original="https://s.hinty.io/imgorig/cAPm3HpU5fzZRtkeDxkBhi.jpeg?11" src="https://s.hinty.io/cAPm3HpU5fzZRtkeDxkBhi.jpg" loading="lazy" style="cursor: zoom-in;">
                    </picture>
                </p>
                <p>Actually, you have three options how to open an image:</p>
                <ul>
                    <li>Ctrl+V/Cmd+V image from clipboard</li>
                    <li>Drag and drop it from the filesystem</li>
                    <li>Use an <strong>Upload Image</strong> button to open a file using the system file select dialog. </li>
                </ul>
                <p>On Phone, you can use the Upload Image option to make a camera photo on the wall and then copy text from it 😛</p>
                <p>As one Redditor asked we also added a mode to search parsed text directly on Google:</p><p>
                    <picture>
                        <img alt="Image to Text mode" data-original="https://s.hinty.io/imgorig/RU2PdJVaBVcm6JN4Lpny67.jpeg?11" src="https://s.hinty.io/RU2PdJVaBVcm6JN4Lpny67.jpg" loading="lazy" style="cursor: zoom-in;">
                    </picture>
                </p>
                <p>After switching to this mode you can google text lines directly:</p><p>
                    <picture>
                        <img alt="Google mode for image to text" data-original="https://s.hinty.io/imgorig/f8T4zkbNQLX9LynpCbgGHB.jpeg?11" src="https://s.hinty.io/f8T4zkbNQLX9LynpCbgGHB.jpg" loading="lazy" style="cursor: zoom-in;">
                    </picture>
                </p>
            </article>
            <a href="/" class="btn">TRY IT NOW</a>
        </div>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js" crossorigin="anonymous"></script>
   </main>
{% endblock %}
