{% extends "main.html" %}
{% block title %}Image to text{% endblock %}
{% block extrameta %}
    <meta name="description" content="ImageToText provides you with a blazing simple way to copy text from a raster image. Have you ever faced a moment when someone shared a screenshot o even wor...">
    <meta property="og:title" content="ImageToText"/>
    <meta property="og:description" content="ImageToText provides you with a blazing simple way to copy text from a raster image. Have you ever faced a moment when someone shared a screenshot o even wor...">
    <meta property="og:url" content="https://imagetotext.app/about/"/>
    <meta property="og:type" content="imagetotext" />
    <meta property="og:image" content="https://s.hinty.io/imgorig/cAPm3HpU5fzZRtkeDxkBhi.jpeg?11"/>
    <link rel="canonical" href="https://imagetotext.app/about/">
    <style type="text/css"> 
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            margin-bottom: 1.75rem;
            margin-top: 0;
        }
        .title {
            display: flex;
            align-items: center;
            color: black;
            text-align: left;
        }
        .container {
            margin: 4.125rem 0;
            padding: 0 1rem;
            word-break: break-word;
            font-weight: 400;
            color: #444444;
            font-size: 1rem;
            line-height: 200%;
            align-items: flex-start;
        }
        .about-title {
            font-size: 1.5rem;
            margin-top: 3.563rem;
            font-weight: 400;
        }
        .about-text {
            margin-top: 2.625rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        p {
            margin-bottom: 1.5rem;
        }
        img {
            width: 100%;
            height: auto;
            box-shadow: 1px 1px 9px #333;
        }
        .btn {
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
   <main id="app">
        <div class="container">
            <a href="/" class="title">
                <img src="/static/logo.svg" alt="site logo" style="box-shadow: none"/>
                <h1>Image to text app</h1>  
            </a>
            <h1 class="about-title">About image to text</h1>
            <article class="about-text">
                <p>ImageToText provides you with a blazing simple way to copy text from a raster image.</p>
                <p>Have you ever faced a moment when someone shared a screenshot o even worsen photo instead of text so you had to re-type it in a web form?</p>
                <p>
                    <picture>
                        <img alt="Imagetotext helps make you calm" data-original="https://s.hinty.io/imgorig/UUnyEdGKmMZmeqfPuivxKM.jpeg" src="https://s.hinty.io/UUnyEdGKmMZmeqfPuivxKM.jpg" onload="this.classList.remove('preload');this.style['background-image']=''" class="" style="max-height: 66.62vw;" width="800" height="533">
                    </picture>
                </p>
                <p>If you will store bookmark to this site you never will face this issue again. What you will be able to do is just open the image super-quickly and then copy the needed text from the needed area in one click:</p><p>
                    <picture>
                        <img alt="imagetotext on image example" data-original="https://s.hinty.io/imgorig/cAPm3HpU5fzZRtkeDxkBhi.jpeg?11" src="https://s.hinty.io/cAPm3HpU5fzZRtkeDxkBhi.jpg" loading="lazy">
                    </picture>
                </p>
                <p>Actually, you have three options how to open an image:</p>
                <ul>
                    <li>Ctrl+V/Cmd+V image from clipboard</li>
                    <li>Drag and drop it from the filesystem</li>
                    <li>Use an <strong>Upload Image</strong> button to open a file using the system file select dialog. </li>
                </ul>
                <p>On Phone, you can use the Upload Image option to make a camera photo on the wall and then copy text from it 😛</p>
                <p>As one Redditor asked we also added a mode to search parsed text directly on Google:</p><p>
                    <picture>
                        <img alt="Image to Text mode" data-original="https://s.hinty.io/imgorig/RU2PdJVaBVcm6JN4Lpny67.jpeg?11" src="https://s.hinty.io/RU2PdJVaBVcm6JN4Lpny67.jpg" loading="lazy">
                    </picture>
                </p>
                <p>After switching to this mode you can google text lines directly:</p><p>
                    <picture>
                        <img alt="Google mode for image to text" data-original="https://s.hinty.io/imgorig/f8T4zkbNQLX9LynpCbgGHB.jpeg?11" src="https://s.hinty.io/f8T4zkbNQLX9LynpCbgGHB.jpg" loading="lazy">
                    </picture>
                </p>
            </article>
            <a href="/" class="btn">TRY IT NOW</a>
        </div>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js" crossorigin="anonymous" async defer></script>
       <script async defer>
           window.addEventListener('load', function () {
              const zooming = new Zooming({});
              zooming.listen('img[data-original]');
           });
       </script>
   </main>
{% endblock %}
