{% extends "main.html" %}
{% block title %}Image to text{% endblock %}
{% block extrameta %}
    <meta name="description" content="Copy text from image by selecting on image (Super simple). Extract text from any image/picture uploaded or pasted from clipboard. Mac / Windows / Android"/>
    <meta property="og:title" content="ImageToText"/>
    <meta property="og:description" content="Copy text from image by selecting on image (Super simple). Extract text from any image/picture uploaded or pasted from clipboard. Mac / Windows / Android">
    <meta property="og:url" content="https://imagetotext.app/about/"/>
    <meta property="og:type" content="imagetotext" />
    <meta property="og:image" content="https://s.hinty.io/imgorig/cAPm3HpU5fzZRtkeDxkBhi.jpeg?11"/>
    <link rel="canonical" href="https://imagetotext.app/">
    <style type="text/css">
        .input-upload {
            display: none;
        }
        .message {
            position: absolute;
            max-width: 281px;
            right: -15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background: #FFFFFF;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            z-index: 1000;
        }
        .message .message-text {
            width: fit-content;
            white-space: pre-line;
        }
        .message button.btn {
            margin-left: 1rem;
        }
        .container {
            margin: 2.313rem 0;
            color: #444444;
        }
        .duo-button {
            max-width: 126px;
            padding: 0 3px;
        }
        .dragging {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #828282;
            background: #ebebf3;
            font-size: 2rem;
            z-index: 1000;
        }
        .container-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #github-badge {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000000;
        }
        #github-badge img {
            width: 170px;
            height: 170px;
        }
        .title {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: black;
            font-weight: 400;
            text-align: left;
        }
        .img-paste {
            height: 100%;
            object-fit: contain;
            user-select: none;
            width: 100%;
            pointer-events: none;
            opacity: 0.8;
        }
        .text {
            white-space: nowrap;
            font-size: 100%;
        }
        .text:hover .text-btn {
            opacity: 1;
        }
        .text-btn {
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.3s;
        }
        .text-btn[data-google] {
            background: radial-gradient(75% 57.36% at 75% 73.33%, #E2E2E2 0%, #FFFFFF 100%);
        }
        .subtitle {
            margin-top: 1.5rem;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 400;
            text-align: left;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        .upload-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 400;
        }
        .upload-title {
            text-align: center;
        }
        .upload-subtitle {
            margin-top: 0.875rem;
        }
        .bold-underline[class] {
            font-weight: 400;
            margin-top: 2.313rem;
            text-decoration: underline;
            cursor: pointer;
        }
        .img-with-texts {
            position: absolute;
            top: 0;
            left: 0;
        }
        .footer-social-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5.563rem;
        }
        .footer-social-share {
            display: flex;
            margin-top: 1rem;
        }
        .upload-wrapper {
            margin-top: 5.87rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 2.75rem;
            max-width: 428px;
            width: 100%;
            height: 203px;
            background: #EFEFEF;
            border-radius: 0.625rem;
        }
        .status-message {
            margin: 0 auto;
            margin-top: 2rem;
            font-size: 1.5rem;
            color: green;
            font-weight: 400;
        }
        .upload-img {
            margin-right: 2.25rem;
        }
        .img-with-text-footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 2rem;
            width: 100%;
        }
        .footer-social-share .btn.btn-round {
            margin-right: 0.438rem;
        }
        .footer-social-share .btn.btn-round:last-child {
            margin-right: 0px;
        } 
        .img-with-text-footer .footer-social-wrapper {
            margin-top: 0;
        }
        .img-with-text-footer .footer-item.footer-social-share {
            opacity: 1;
        }
        .img-with-text-footer .footer-item {
            margin-right: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
        }
        .img-with-text-footer .footer-item:last-child {
            margin-right: 0px;
        }
        .hide {
            display: none !important;
        }
        .loader-texts[class] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            z-index: 1000;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid black;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: black transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @media (max-width: 474px) {
            .content {
                width: 100%;
            }
            .upload-wrapper {
                padding: 1rem 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: auto;
            }
            .upload-wrapper .upload-img {
                margin-right: 0rem;
                margin-bottom: 1rem;
            }
            .img-with-text-footer {
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
            .img-with-text-footer .footer-social-wrapper {
                margin: 20px 0;
            }
            .footer-social-share {
                margin-top: 0.2rem;
            }
            .message {
                left: 50%;
                transform: translateX(-50%);
            }
            .footer-social-wrapper.upload-social-wrapper span{
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        @media (max-width: 400px) {
            #github-badge img {
                width: 100px;
                height: 100px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <main id="app">
        <div class="container">
            <div class="dragging hide">Drop files here"</div>
            <div class="img-with-text-footer hide">
                <div class="btn" onclick="onResetClick()">NEW IMAGE</div>
                <div class="footer-social-wrapper">
                    <span>SHARE</span>
                    <div class="footer-item footer-social-share">
                         <div class="btn btn-round" onclick="window.open('https:\/\/www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('https://imagetotext.app/') + '&t=' + encodeURIComponent(`Image To Text Simple Copy`));">
                            <img loading="lazy" src="/static/facebook.svg" alt="share link on facebook" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https://wa.me/?text=' + ' %20 ' + encodeURIComponent('https://imagetotext.app/')); return false;">
                            <img loading="lazy" src="/static/whatsapp.svg" alt="share link on whatsapp" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https:\/\/twitter.com/intent/tweet?text=' + ' %20 ' + encodeURIComponent('https://imagetotext.app/')); return false;">
                            <img loading="lazy" src="/static/twitter.svg" alt="share link button in twitter" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https:\/\/reddit.com/submit/?url=' + encodeURIComponent('https://imagetotext.app/')); + '&amp'; return false;">
                            <img loading="lazy" src="/static/reddit.svg" alt="share link on reddit" />
                        </div>
                        <div class="btn btn-round" onclick="onCopyLink()">
                            <img loading="lazy" src="/static/copy.svg" alt="copy link to share" />
                        </div>
                    </div>
                </div>
                <div class="btn btn-mid duo-button" onclick="onToogleMode(this)"><div class="btn active-duo" data-type="copy">Copy</div>Google</div>
            </div>
            <div class="content">
                <div class="message hide">
                    <div class="message-text"></div>
                    <button class="btn btn-round">&times;</button>
                </div>
                <img src="" class="img img-paste hide" alt="image for processing and convert into a text"/>
                <div class="img-with-texts hide"></div>
                <div class="container-header hide">
                    <a href="https://imagetotext.app/" class="title">
                        <img loading="lazy" src="/static/logo.svg" alt="site logo" />
                        Image to text app 
                    </a>
                    <h2 class="subtitle">Copy text from image</h2>
                    <p class="subtitle">
                        Transform image to text by Ctrl+V and copy text in one click.
                        Simpler then ever. Works on Mac, Androd or PC
                    </p>
                </div>

                <div class="upload-wrapper hide">
                    <div class="upload-img">
                        <img src="/static/upload.svg" alt="icon for upload image" />
                    </div>
                    <div class="upload-description">
                        <div class="upload-title">Ctrl+V screenshot or Drag & Drop<br />or</div>
                        <div class="upload-subtitle"><button class="btn" onclick="onUploadClick()">UPLOAD FILE</button></div>
                    </div>
                </div>
                <div class="footer-social-wrapper upload-social-wrapper hide">
                    <span>SHARE WITH OTHERS OR SAVE BOOKMARK</span>
                    <div class="footer-item footer-social-share">
                        <div class="btn btn-round" onclick="window.open('https:\/\/www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('https://imagetotext.app/') + '&t=' + encodeURIComponent(`Image To Text Simple Copy`));">
                            <img loading="lazy" src="/static/facebook.svg" alt="share link on facebook" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https://wa.me/?text=' + ' %20 ' + encodeURIComponent('https://imagetotext.app/')); return false;">
                            <img loading="lazy" src="/static/whatsapp.svg" alt="share link on whatsapp" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https:\/\/twitter.com/intent/tweet?text=' + ' %20 ' + encodeURIComponent('https://imagetotext.app/')); return false;">
                            <img loading="lazy" src="/static/twitter.svg" alt="share link button in twitter" />
                        </div>
                        <div class="btn btn-round" onclick="window.open('https:\/\/reddit.com/submit/?url=' + encodeURIComponent('https://imagetotext.app/')); + '&amp'; return false;">
                            <img loading="lazy" src="/static/reddit.svg" alt="share link on reddit" />
                        </div>
                        <div class="btn btn-round" onclick="onCopyLink()">
                            <img loading="lazy" src="/static/copy.svg" alt="copy link to share" />
                        </div>
                    </div>
                </div>
                <a href="/about/" class="bold-underline about-page hide">More info</a>
            </div>
            <a id="github-badge" href="https://github.com/devforth/imagetotext.app"><img loading="lazy" src="static/forkme_right_orange_ff7600.svg" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var rootApp = document.querySelector("#app");
            var container = rootApp.querySelector('#app > .container');
            var img = container.querySelector('.img-paste');
            var imgTexts = container.querySelector('.img-with-texts');
            var header = container.querySelector('.container-header');
            var upload = container.querySelector('.upload-wrapper');
            var imgFooter = container.querySelector('.img-with-text-footer');
            var dragging = container.querySelector('.dragging');
            var uploadSocial = container.querySelector('.upload-social-wrapper');
            var aboutLink = container.querySelector('.about-page');
            var duoButton = container.querySelector('.duo-button');
            var message = container.querySelector('.message');

            function callREST(img) {
                return new Promise(function(resolve, reject) {
                    fetch('/upload/', { 
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(img),
                    }).then(response => {
                        if(!response.ok) {
                            reject('no text');
                            return;
                        }
                        response.json().then(json => {
                            resolve(json)
                        });
                    })
                })
            }

            var hideAndShowElm = {
                showLoader() {
                    this.hideLoader();
                    this.isLoading = true;

                    var imgWrap = container.querySelector('.content');

                    imgWrap.insertAdjacentElement('afterbegin', this.getLoaderElement());
                    
                    return this;
                },
                hideLoader() {
                    this.isLoading = false;
                    var loader = container.querySelector('.loader');

                    if(loader) loader.remove();

                    return this;
                },
                showDragging() {
                    dragging.classList.remove('hide');
                    return this;
                },
                hideDragging() {
                    dragging.classList.add('hide');
                    return this;
                },
                showTextOnImg() {
                    imgTexts.classList.remove('hide');
                    return this;
                },
                hideTextOnImg() {
                    imgTexts.classList.add('hide');
                    return this;
                },
                showMessage(text) {
                    message.classList.remove('hide');
                    message.querySelector('.message-text').innerHTML = text.trim();
                    return this;
                },
                hideMessage(text) {
                    message.classList.add('hide');
                    return this;
                },
            };

            var layouts = {
                showImageLayout() {
                    img.classList.remove('hide');
                    imgTexts.classList.remove('hide');
                    imgFooter.classList.remove('hide');

                    return this;
                },
                hideImageLayout() {
                    img.classList.add('hide');
                    imgTexts.classList.add('hide');
                    imgFooter.classList.add('hide');

                    return this;
                },
                hideInitLayout() {
                    header.classList.add('hide');
                    upload.classList.add('hide');
                    uploadSocial.classList.add('hide');
                    aboutLink.classList.add('hide');

                    return this;
                },
                showInitLayout() {
                    header.classList.remove('hide');
                    upload.classList.remove('hide');
                    uploadSocial.classList.remove('hide');
                    aboutLink.classList.remove('hide');

                    return this;
                },
                startUploadLayout(base64, copyMode) {
                    this.hideInitLayout().toogleCopyMode(copyMode || app.copyMode
                    ).setBase64(base64).setImgSrc().setScaleContainer().showLoader();
                    return this;
                },
                endUploadLayout(texts) {
                    this.setTexts(texts).insertText().hideLoader();
                    return this;
                },
                restoreInitLayout() {
                    this.clearState().hideImageLayout().hideLoader().setInfToStorage().showInitLayout();
                    return this;
                },
            };

            var html = {
                getLoaderElement() {
                    var div = document.createElement('div');

                    div.classList.add('lds-ring', 'loader', 'loader-texts');
                    div.innerHTML = '<div></div><div></div><div></div><div></div>';
                    
                    return div;
                },
                createCopyLineButtonHTML(height) {
                    //var id = Date.now() + '-' + height + '-' + Math.random() * 100;
                    return `<button style="height: ${height}px; width: ${height}px;right: ${-height - 2}px" class="btn text-btn" onclick="onCopyLineClick(this);" data-copy="copy">
                            <img loading="lazy" src="/static/copy.svg" style="width:${height - 5}px; height:${height - 5}px;" alt="button for copy line text of trasnform text from image" />
                        </button>
                    `;
                },
                createGoogleSearchHTML(height) {
                    return `<button style="height: ${height}px; width: ${height}px;right: ${-height - 2}px" class="btn text-btn" onclick="onGoogleSearch(this);" data-google="google">
                            <img src="/static/google.svg" style="width:${height - 5}px; height:${height - 5}px" alt="button for find line text of trasnform text from image in google"/>
                        </button>
                    `;
                },
                copyModeHTML(type) {
                    return type === 'copy' ? `<div class="btn active-duo" data-type="copy">Copy</div>Google` : `Copy<div class="btn active-duo" data-type="google">Google</div>`
                },
                createTextHTML({text, top, left, width, height}) {
                    var inst = this;
                    return `<div class="text notformated" style="position: absolute;top:${top}px; left:${left}px;line-height:0.9; width:${width}px; height:${height}px;backdrop-filter: blur(3px);">
                        <p style="font-size:${height}px; white-space: nowrap; display: inline-block;">${text}</p>
                        ${inst.defineTypeButton(inst.copyMode, height)}
                    </div>`;
                },
            }

            var utils = {
                getOriginalSize(base64) {
                    return new Promise(function(resolve) {
                        var img = new Image();

                        img.onload = function(readerEvent) {
                            var origSize =  {
                                width: img.naturalWidth,
                                height: img.naturalHeight,
                            }

                            this.naturalSize = origSize;

                            resolve(origSize);
                        }

                        img.src = base64;
                    })
                },
                setInfToStorage() {
                    try {
                        localStorage.setItem('imgInf', JSON.stringify({
                            base64: this.base64,
                            texts: this.texts,
                            mode: this.copyMode,
                        }));
                    } catch (e) {
                        console.log(e);
                    }
                    return this;
                },
                getInfFromStorage() {
                    try {
                        var base64 = JSON.parse(localStorage.getItem('imgInf'));
                    } catch (e) {
                        console.log(e);
                    }
                    return base64;
                },
                calcScale(size) {
                    var containerWidth = this.calcContainerWidth();

                    var scale = size.width / containerWidth;
                    this.scale = scale;

                    return scale;
                },
                calcContainerWidth() {
                    this.containerWidth = window.parseInt(window.getComputedStyle(container)['max-width']);
                    return this.containerWidth;
                },
                calcTextSizeParams() {
                    var maxH = 0;
                    var minH = Infinity;
                    var sum = 0;
                    
                    this.texts.forEach(function(text) {
                        if(text.height > maxH) maxH = text.height;
                        if(text.height < minH) minH = text.height;
                        sum += text.height;
                    });

                    sum -= maxH + minH;
                    var averageH = sum / this.texts.length - 2;

                    var popularH = this.texts.sort((a,b) =>
                        this.texts.filter(v => v.height=== a.height).length
                        - this.texts.filter(v => v.height === b.height).length
                    )

                    popularH = popularH[popularH.length - 1].height;

                    var maxRate = maxH / popularH;
                    var minRate = popularH / minH;
                    
                    return  { 
                        maxH, 
                        averageH,
                        popularH,
                        maxRate,
                        minRate,
                        minH,
                    }
                },
                getImgScale(base64) {
                    var inst = this;

                    if(this.naturalSize) return Promise.resolve(this.calcScale(this.naturalSize));

                    return this.getOriginalSize(base64)
                        .then(function(sizeOrig) {
                            return inst.calcScale(sizeOrig);
                        });
                },
                adjustFontSize(parentBlock, childBlock) {
                    document.querySelectorAll(parentBlock).forEach(function(parent) {
                        var needWidth = parent.clientWidth
                        var parentH = parent.clientHeight;
                        var child = parent.querySelector(childBlock)
                        var currentWidth = child.clientWidth;
                        var fs = child.style.fontSize.replace('px','');
                        var rate = needWidth / currentWidth;
                        var newFs = fs * rate;
                        var fsBigH = (newFs * 100 / parentH) - 100;
                        child.style.fontSize = fsBigH > 50 ? parentH + 'px' : newFs + 'px';
                    });
                },
                chechIsAnomalyRate(type, textHeight, textParams) {
                    return Boolean(textParams[`${type}Rate`] >= this.anomalyRate && textParams[`${type}H`] === textHeight)
                },
                clearState(includeProp = ['root']) {
                    var inst = this;
                    
                    Object.keys(inst).forEach(function(key) {
                        if(typeof inst[key] !== 'function' && !includeProp.includes(key)) {
                            inst[key] = null;
                        }
                    });

                    return this;
                },
                logger(data, id) {
                    console.log(id, typeof data === 'object' ? JSON.stringify(data) : data);
                },
                hideMessageWithInterval(t = 2000) {
                    var inst = this;
                    setTimeout(function() {
                        inst.hideMessage();
                    }, t);
                    return this;
                },
            };

            var app = {
                root: rootApp,
                imgData: null,
                texts: null,
                base64: null,
                scale: null,
                naturalSize: null,
                containerWidth: null,
                isLoading: false,
                anomalyRate: 10,
                copyMode: 'copy',
                ...hideAndShowElm,
                ...layouts,
                ...utils,
                ...html,
                setTexts(texts) {
                    this.texts = texts;

                    return this;
                },
                setBase64(base64) {
                    this.base64 = base64;

                    return this;
                },
                setImgSrc() {
                    this.imgData = this.base64.split(',')[1];
                    
                    var inst = this;

                    img.onload = function() {
                        inst.showImageLayout();
                    }

                    img.src = this.base64;

                    return this;
                },
                getTexts() {
                    return imgTexts.textContent.trim();
                },
                toogleCopyMode(type) {
                    this.copyMode = type;

                    this.setInfToStorage();

                    duoButton.innerHTML = this.copyModeHTML(type);

                    this.replaceTextButton(type);

                    return this;
                },
                defineTypeButton(type, height) {
                    return type === 'copy' ? this.createCopyLineButtonHTML(height) : this.createGoogleSearchHTML(height);
                },
                replaceTextButton(type = 'copy') {
                    var inst = this;
                    imgTexts.querySelectorAll('.text.notformated').forEach(function(line) {
                        var button = line.querySelector('.btn.text-btn');
                        var height = parseInt(button.style.height, 10);
                        button.remove();

                        var newBtn = inst.defineTypeButton(type, height);

                        line.insertAdjacentHTML('beforeend', newBtn);
                    })
                    return this;
                },
                createInputElement() {
                    var input = document.createElement('input');
                    input.type = 'file';
                    input.classList.add('input-upload');
                    return input;
                },
                removeInputElement() {
                    var inputExist = container.querySelector('.input-upload');

                    if(inputExist) inputExist.remove();

                    return this;
                },
                setScaleContainer() {
                    this.getImgScale(this.base64)
                        .then(function(scale) {
                            if(scale < 1) return;
                            imgTexts.style.transform = `scale(${(1 / scale).toFixed(6)})`
                        });

                    return this;
                },
                insertText() {
                    if(!this.texts.length) return this;

                    if(this.texts.length === 1 && !this.texts[0].text.trim()) return this;
                    
                    var inst = this;
                    this.setInfToStorage();

                    var textParams = this.calcTextSizeParams();

                    this.hideTextOnImg();

                    this.texts.forEach(function(text) {
                        if(inst.chechIsAnomalyRate('max', text.height, textParams)) text.height = textParams.popularH;
                        if(inst.chechIsAnomalyRate('min', text.height, textParams)) text.height = textParams.popularH;
        
                        var html = inst.createTextHTML(text);
                        imgTexts.insertAdjacentHTML('beforeend', html);
                    });

                    setTimeout(function() {
                        inst.showTextOnImg();
                        inst.adjustFontSize('.text.notformated', 'p');
                    }, 0);

                    return this;
                },
                reset() {
                    imgTexts.innerHTML = '';
                    img.src = '';
                    imgTexts.style.transform = '';

                    this.restoreInitLayout();
                },
            };

            window.onResetClick = function() {
                app.reset();
            };

            window.onCopyLink = function() {
                navigator.clipboard.writeText(document.URL);
                app.showMessage('Link copied to clipboard').hideMessageWithInterval();
            };

            window.onUploadClick = function() {
                var input = app.removeInputElement().createInputElement();

                input.click();

                input.addEventListener('change', function(e) {
                    var { files } = input;

                    var file = Array.from(files)[0];
                    
                    convertOnBase64AndSubmit(file);
                }, {once: true});

                container.append(input);
            }

            window.onCopyLineClick = function(e) {
                var text = e.previousElementSibling.textContent.trim();
                navigator.clipboard.writeText(text);
                app.showMessage('“Copy text from image”<br/>Copied to clipboard').hideMessageWithInterval();
            }

            window.onGoogleSearch = function(e) {
                var text = e.previousElementSibling.textContent.trim();
                var newW = window.open('https://www.google.com/search?q='+text);
            }

            window.onToogleMode = function(e) {
                var btn = duoButton.querySelector('div');
                var curType = btn.dataset.type;

                var newType = curType === 'copy' ? 'google' : 'copy';

                app.toogleCopyMode(newType);
            }

            window.app = app;

            window.copyText = function() {
                navigator.clipboard.writeText(app.getTexts());
            };

            var imgStorage = app.getInfFromStorage();

            if(imgStorage && imgStorage.base64 && imgStorage.texts) {
                app.copyMode = 'mode' in imgStorage && imgStorage.mode;
                app.startUploadLayout(imgStorage.base64, app.copyMode)
                    .endUploadLayout(imgStorage.texts);          
            } else {
                app.showInitLayout();
            }

            window.addEventListener('dragenter', function(e) {
                e.preventDefault();

                app.showDragging();
            }, false);

            window.addEventListener('dragleave', function(e) {
                e.preventDefault();
                if (e.fromElement === null) {
                    app.hideDragging();
                }
            }, false);

            window.addEventListener("dragover",function(e) {
                e.preventDefault();
            }, false);

            window.addEventListener("drop", function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                app.hideDragging();

                var files = Array.from(e.dataTransfer.files);
              
                convertOnBase64AndSubmit(files[0]);
            }, false);

            function sendImageToServer(base64) {
                app.startUploadLayout(base64);
                try {
                    callREST({base64: app.imgData})
                        .then(function(resp) {
                            app.endUploadLayout(resp.texts);
                        })
                        .catch(() => {
                            app.hideLoader();
                        })
                } catch (e) {
                    app.hideLoader();
                }
            }

            function convertOnBase64AndSubmit(file) {
                var reader = new FileReader();

                reader.onload = (ev) => {
                    sendImageToServer(ev.target.result);
                }

                reader.readAsDataURL(file);
            }

            document.onpaste = function(e) {
                app.reset();
                var { items } = event.clipboardData || event.originalEvent.clipboardData;
                
                Array.from(items).forEach(function(item) {
                    if (item.kind === 'file') {
                        var blob = item.getAsFile();

                        convertOnBase64AndSubmit(blob);
                    }
                });
            }

            window.onresize = function(e) {
                app.setScaleContainer();
            }
        })
    </script>
{% endblock %} 
